.rating {
  z-index: 20;
  font-size: 0.875rem;
  font-weight: bolder;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10rem;
}

.rating span {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0.4rem;
  display: inline-block;
  background-size: 1.5rem;
}

.rating:hover {
  cursor: pointer;
}

.rating {
  background: none !important;
}

.rating:hover {
  background: none !important;
}

.rate {
  cursor: pointer;
  user-select: none;
}
