.password-toggle-btn-open {
  filter: invert(var(--inverted));
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  background-image: url('../../assets/icon-eye-open.svg');
  background-position: center center;
  background-repeat: no-repeat;
  content: '';
  z-index: 10;
  display: block;
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
}
.password-toggle-btn-closed {
  filter: invert(var(--inverted));
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  background-image: url('../../assets/icon-eye-closed.svg');
  background-position: center center;
  background-repeat: no-repeat;
  content: '';
  z-index: 10;
  display: block;
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
}
